<!DOCTYPE html>
<html>
{include file="public/header" /}
<body>
{include file="public/nav" /}
    <div class="blank15"></div>
    <!-- 面包屑 -->
    <div class="bread-crumbs w1190">
        您当前的位置：<span class="core">关于我们<span>  
    </div>
     <!--幻灯片开始    -->
    <div style="width:100%; min-width:1002px; margin:0 auto 15px;   border-bottom:1px solid #b1b1b1;" class="contentImg">
        <ul class="bannerImg">
            {volist name="ads" id="vo"}
             <li style="background:url(__ROOT__/{$vo['thumb']}) center top no-repeat; display:{if $i==1}block{else}none{/if};">
             <a href="{$vo['url']}" style="display:block; width:100%; height:396px; z-index:99;"></a>
             </li>
             {/volist}
        </ul>
        <ol class="biaojiBtn">
            {volist name="ads" id="vo"}
            <li {if $i==1}class="currentBan"{/if}>{$i}</li>
            {/volist}
        </ol>
    </div>
    <!--幻灯片结束    -->
    <div class="news w1190">
      <div class="news-top">
        <img src="__STATIC__/home/img/news.png" alt="">
        认识我们
      </div>
      <div class="about-content"> 
      <p>
          环球吉尔（北京）有限公司General Language Limited Co.（简称GL）是一家研究型、知识型的高新技术企业，专注于人类语言底层规律的研究，取得了重大突破，并获得了全球范围内的知识产权保护。</p>
          <p>
         2010年，GL用通用语言模型解构了包括英语、汉语、德语、法语、葡萄牙语、西班牙语、俄语等在内的32种主要语言，并获得了知识产权保护。GL打通了 全世界表面不同语言的底层架构，让全世界的语言的底层架构都统一在了一起，这必将引领全世界范围内的语言学习革命，谱写语言革命转型期波澜壮阔的画面。</p><p>
         环球吉尔法语项目自公司成立开始，不断扩展市场，赢得了广大用户的认可，至今已经在法语留学领域排名中名列前茅，并取得了骄人成绩。</p> 
      </div>
    </div>
    <div class="news w1190">
      <div class="news-top">
        <img src="__STATIC__/home/img/news.png" alt="">
        团队介绍
      </div>
      <div class="about-content"> 
      <p>
          环球吉尔（北京）有限公司General Language Limited Co.（简称GL）是一家研究型、知识型的高新技术企业，专注于人类语言底层规律的研究，取得了重大突破，并获得了全球范围内的知识产权保护。</p>
          <p>
         2010年，GL用通用语言模型解构了包括英语、汉语、德语、法语、葡萄牙语、西班牙语、俄语等在内的32种主要语言，并获得了知识产权保护。GL打通了 全世界表面不同语言的底层架构，让全世界的语言的底层架构都统一在了一起，这必将引领全世界范围内的语言学习革命，谱写语言革命转型期波澜壮阔的画面。</p><p>
         环球吉尔法语项目自公司成立开始，不断扩展市场，赢得了广大用户的认可，至今已经在法语留学领域排名中名列前茅，并取得了骄人成绩。</p> 
      </div>
    </div>
    <!--页脚-->
    <div class="blank15"></div>
  {include file="public/footer" /}
   <script type="text/javascript" src="__STATIC__/home/script/slider.js"></script>
</body>

</html>
