<!DOCTYPE html>
<html>
{include file="public/header" /}

<body>
    {include file="public/nav" /}
    <div class="blank15"></div>
    <!-- 面包屑 -->
    <div class="bread-crumbs w1190">
        您当前的位置：<span class="core">课程体系<span>  
    </div>
    <div class="content w1190 cont">
      <div class="linian">
        {if $ads}
     <img src="__ROOT__/{$ads['thumb']}" class="w1190 cont"alt="">
        {/if}

        <div class="news w1190">
          <div class="linian-content">
          <p>
            英语密码课程设计理念源自著名美国语言教育家斯蒂芬·克拉申(Stephen D. Krashen)
            <img src="__STATIC__/home/img/stephen.jpg" style="float: right"alt="">
          </p>
          <div class="linian-content-one">
              <div class="title">
                  习得与学得结合
              </div>
              <div class="content">
                  幼儿阶段通过原汁原味的绘本教学，让孩子习得英语；小学阶段的孩子具备举一反三、总结归纳的能力，通过讲解语言现象和语法规则，达到对所学语言的了解和对其语法概念的掌握。
              </div>
          </div>
          <div class="linian-content-one">
              <div class="title">
                  课程设计遵循i+1理论
              </div>
              <div class="content">
                  根据语言习得的自然顺序编排课程，课程分级循序渐进，通过入学测试，选择适合课程级别。
              </div>
          </div>
          <div class="linian-content-one">
              <div class="title">
                  输入足够的可理解的语言输入
              </div>
              <div class="content">
                 输入足够的可理解的语言输入
通过语音密码课程的学习，为孩子阅读打下基础，精选符合儿童心理学的有趣的阅读材料，大量的阅读输入，让孩子真正习得英语。
              </div>
          </div>
          <div class="linian-content-one">
              <div class="title">
                  创造轻松愉快的课堂氛围
              </div>
              <div class="content">
               考虑儿童习得语言中情感过滤因素，用激励教学法、娱乐教学法、团队目标学习法，兴趣学习法，让孩子爱上英语，轻松愉快的学习英语。
               <br><br>
              </div>
              </div>
            </div>
            <div class="news-top">
            <img src="__STATIC__/home/img/news.png" alt="">
            幼儿绘本英语课程
          </div>
          <div class="blank15"></div>
          <div class="linian-content-one">
              <div class="title">
                  预备级（35本故事书配套点读笔）
              </div>
              <div class="content">
               预备级共有35个故事，针对3-4岁的孩子，它主要以单词和词组为主，共有200个左右的单词。本级的主要目标是让孩子建立起英语与常见物品之间的联系。例如：以公园为主题，学习公园里的游乐设施；以生日为主题，学习孩子过生日会搜到的生日礼物；以公主和龙的故事，学习幻想世界的单词；以巨人的故事，学习1-5个数字；以我喜欢的小汽车的故事，学习颜色；以小狗的故事，学习孩子生活中常见的名词；以宠物的故事，学习小动物；以真实的图片，学习小昆虫，大与小等等。除此之外，还会学到常见的水果、五官、食物、动物的单词。
               <br><br>
              </div>
            </div>
            <div class="blank15"></div>
          <div class="linian-content-one">
              <div class="title">
                  基础级（42本故事书配套点读笔）
              </div>
              <div class="content">
               基础级共有42个故事，针对4-5岁的孩子，共有300个左右的单词。本级的主要目标让孩子学会简单的英语表达，它以句子为主，每一页从一句话，递增到每一页3-4句话。由易到难、循序渐进的方式，让孩子学习英语。通过宠物的故事，学习周一到周日。通过故事告诉我们到了图书馆应该遵守的规定，了解白天和夜晚大自然的变化，孩子在不同情景下的不同感觉；孩子最爱玩的玩具，长大后想做的职业、英语指令，还有耳熟能详的乌龟赛跑、大灰狼、牧羊女、丑小鸭等故事。这些故事对孩子的生活不仅对孩子有一定的启发，还有深刻的教育意义，培养孩子学会善良、关爱、宽容等等。
               <br><br>
              </div>
            </div>
            <div class="blank15"></div>
          <div class="linian-content-one">
              <div class="title">
                  提高级（24本故事书配套点读笔）
              </div>
              <div class="content">
               提高级共有24个故事，针对5-7岁的孩子，本级的主要目标培养孩子的语感，通过熟知的单词与句子，猜测一些生词的意思。本级共有450个左右的单词，单词量有很大的跨越。句子从每页2-3句增加到每页5-6句，但是都是简单句式的语句，有助于孩子阅读与理解。并且通过反复出现的单词和不断重复的句式，加深孩子的记忆与理解。除了故事外，本级还有一些启蒙科普读物，比如让儿童了解怎样选择宠物、怎样照顾宠物，有关鲸鱼的知识，了解非常野生动物园等这些孩子比较感兴趣的内容。
              </div>
            </div>
            <div class="news-top">
                <img src="__STATIC__/home/img/news.png" alt="">
            语音密码课程1、2、3 + 启蒙阅读
            </div>
            <div class="linian-content-one">
              <br>
              <div class="content">
               它是自然形成的一种发音规律，主要教授英文字母与音的对应关系，能够做到见词能读，听音会写，直读直拼百万单词。语音+简单句式，结束后直通新概念。
              </div>
            </div>
            <div class="news-top" style="margin-top: 40px">
                <img src="__STATIC__/home/img/news.png" alt="">
            语篇密码课程
            </div>
        </div>
       
        
        <div class="blank15"></div>
        <div class="bj04">
        <div class="bz1 fl bbz1">
        <div class="bz1_1">
          <h1>语音密码<span></span></h1>
        <!--<b>对象</b><br />
6-15岁，未掌握正确拼读的中国的大多数孩子-->
        <br /> 目标
        <br /> 1. 掌握26个英文字母和字母组合的语音规律
        <br /> 2. 对上千词汇进行语音训练
        <br /> 3. 通过4步语音处理流程见到陌生单词能正确拼读
    </div>
    <div class="bz1_2">必学
        <br /> 解决英语拼读问题
    </div>
    </div>
    <div class="bz1 fl bbz2">
        <div class="bz1_1">
            <h1>语音密码LEVEL 1<span></span></h1>
            <br /> 目标
            <br /> 1.掌握527个单词
            <br /> 2.掌握64个核心句型的听说读写
            <br /> 3.能够熟读272个小学英语句子
            <br /> 4.能够针对24个话题，进行简单的对答
            <br />
        </div>
        <div class="bz1_2">根据儿童英语情况，非必学
            <br />
        </div>
    </div>
    <div class="bz1 fl bbz3">
        <div class="bz1_1">
            <h1>语音密码LEVEL 2<span></span></h1>
            <br /> 目标
            <br /> 1.掌握827个单词
            <br /> 2.掌握72个核心句型的听说读写
            <br /> 3.能够熟读243个小学英语句子
            <br /> 4.能够针对24个话题，进行较深层对答
        </div>
        <div class="bz1_2">根据儿童英语情况，非必学
            <br /> + 优瑞探索课程 1</div>
    </div>
    <div class="bz1 fl bbz4">
        <div class="bz1_1">
            <h1>语音密码LEVEL 5<span></span></h1>
            <!--<b>对象</b><br />
13-15岁，初二及以上学生-->
            <br /> 目标
            <br /> 1.掌握新增1200余单词的听说读写
            <br /> 2.掌握6大句式在10大时态下的变化
            <br /> 3.掌握260个英语并列复合句和主从复合句
            <br /> 4.能够在24个实用场景下熟练对答
        </div>
        <div class="bz1_2">必学
            <br /> + 优瑞探索课程 4
        </div>
    </div>
    <div class="bz1 fl bbz5">
        <div class="bz1_1">
            <h1>语音密码LEVEL 4<span></span></h1>
            <!--<b>对象</b><br />
12-14岁，初一至初三学生-->
            <br /> 目标
            <br /> 1.掌握新增1000余单词的听说读写
            <br /> 2.掌握6大句式在10大时态下的变化
            <br /> 3.掌握240个英语并列复合句和主从复合句
            <br /> 4.能够在24个实用场景下熟练对答
        </div>
        <div class="bz1_2">必学
            <br /> + 优瑞探索课程 3</div>
    </div>
    <div class="bz1 fl bbz6">
        <div class="bz1_1">
            <h1>语音密码LEVEL 3<span></span></h1>
            <!--<b>对象</b><br />
9-12岁，四至六年级学生-->
            <br /> 目标
            <br /> 1.掌握1127个单词
            <br /> 2.掌握80个核心句型的听说读写
            <br /> 3.能够熟读238个小学英语句子
            <br /> 4.能够针对12个主题，进行流畅对答
        </div>
        <div class="bz1_2">必学
            <br /> + 优瑞探索课程 2</div>
    </div>
    </div>
    </div>
    </div>
    {include file="public/footer" /}
</body>

</html>