<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>后台管理系统</title>
        <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/all.css">
        <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/app.css">
        <!--[if lte IE 7]>
                <link href="__STATIC__/admin/css/ie7.css" rel="stylesheet">
            <![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lte IE 9]>
                <script src="__STATIC__/admin/other/html5shiv.min.js"></script>
                <script src="__STATIC__/admin/other/respond.min.js"></script>
            <![endif]-->
        <!-- jquery -->
        <script src="__STATIC__/admin/js/jquery-1.7.2.min.js"></script>
        <script src="__STATIC__/admin/js/jquery.cookie.js"></script>
        <!--[if lte IE 9]>
                <script src="__STATIC__/admin/other/jquery.iframe-transport.js"></script>    
            <![endif]-->
        <!-- BJUI.all 分模块压缩版 -->
        <script src="__STATIC__/admin/js/bjui-all.min.js"></script>
        <!-- plugins -->
        <!-- swfupload for uploadify && kindeditor -->
        <script src="__STATIC__/admin/plugins/swfupload/swfupload.js"></script>
        <!-- kindeditor -->
        <script src="__STATIC__/admin/plugins/kindeditor_4.1.10/kindeditor-all.min.js"></script>
        <script src="__STATIC__/admin/plugins/kindeditor_4.1.10/lang/zh_CN.js"></script>
        <!-- colorpicker -->
        <script src="__STATIC__/admin/plugins/colorpicker/js/bootstrap-colorpicker.min.js"></script>
        <!-- ztree -->
        <script src="__STATIC__/admin/plugins/ztree/jquery.ztree.all-3.5.js"></script>
        <!-- nice validate -->
        <script src="__STATIC__/admin/plugins/niceValidator/jquery.validator.js"></script>
        <script src="__STATIC__/admin/plugins/niceValidator/jquery.validator.themes.js"></script>
        <!-- bootstrap plugins -->
        <script src="__STATIC__/admin/plugins/bootstrap.min.js"></script>
        <script src="__STATIC__/admin/plugins/bootstrapSelect/bootstrap-select.min.js"></script>
        <script src="__STATIC__/admin/plugins/bootstrapSelect/defaults-zh_CN.min.js"></script>
        <!-- icheck -->
        <script src="__STATIC__/admin/plugins/icheck/icheck.min.js"></script>
        <!-- dragsort -->
        <script src="__STATIC__/admin/plugins/dragsort/jquery.dragsort-0.5.1.min.js"></script>
        <!-- HighCharts -->
        <script src="__STATIC__/admin/plugins/highcharts/highcharts.js"></script>
        <script src="__STATIC__/admin/plugins/highcharts/highcharts-3d.js"></script>
        <script src="__STATIC__/admin/plugins/highcharts/themes/gray.js"></script>
        <!-- ECharts -->
        <script src="__STATIC__/admin/plugins/echarts/echarts.js"></script>
        <!-- other plugins -->
        <script src="__STATIC__/admin/plugins/other/jquery.autosize.js"></script>
        <link href="__STATIC__/admin/plugins/uploadify/css/uploadify.css" rel="stylesheet">
        <script src="__STATIC__/admin/plugins/uploadify/scripts/jquery.uploadify.min.js"></script>
        <script src="__STATIC__/admin/plugins/download/jquery.fileDownload.js"></script>
        <!-- object js -->
        <script type="text/javascript">
            var static = "__STATIC__";
            var root = "__ROOT__";
        </script>
        <script src="__STATIC__/admin/js/app.js"></script>
    </head>

    <body>
        <!--[if lte IE 7]>
            <div id="errorie"><div>您还在使用老掉牙的IE，正常使用系统前请升级您的浏览器到 IE8以上版本 <a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-8-worldwide-languages">点击升级</a>&nbsp;&nbsp;强烈建议您更改换浏览器：<a href="http://down.tech.sina.com.cn/content/40975.html" target="_blank">谷歌 Chrome</a></div></div>
        <![endif]-->
        <div id="bjui-window">
            <header id="bjui-header">
                <div class="bjui-navbar-header">
                    <button type="button" class="bjui-navbar-toggle btn-default" data-toggle="collapse" data-target="#bjui-navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a style="display:none;" class="bjui-navbar-logo" href="#"><img src="__STATIC__/admin/images/logo#.png" style="height: 62px;margin-left: 20px;margin-top: 4px;"></a>
                </div>
                <nav id="bjui-navbar-collapse">
                    <ul class="bjui-navbar-right">
                        <li class="datetime">
                            <div> 欢迎您<b>&nbsp;&nbsp;&nbsp;&nbsp;admin</b></div>
                        </li>
                        <li><a href="__ROOT__/admin/member/index" data-toggle="dialog" data-id="changepwd_page" data-mask="true" data-width="400" data-height="200">&nbsp;<span class="glyphicon glyphicon-user"></span> </a></li>
                        <li><a href="__ROOT__/admin/login/out">&nbsp;<span class="glyphicon glyphicon-off"></span> 我要注销</a></li>
                        <li><a href="__ROOT__/" target="_blank">&nbsp;<span class="glyphicon glyphicon-home"></span> 网站首页</a></li>
                    </ul>
                </nav>
                <div id="bjui-hnav">
                    <button type="button" class="btn-default bjui-hnav-more-left" title="导航菜单左移"><i class="fa fa-angle-double-left"></i></button>
                    <div id="bjui-hnav-navbar-box">
                        <ul id="bjui-hnav-navbar">
                            <li class="active" style="border: 0;">
                                <a href="javascript:;" data-toggle="slidebar" style="width: 0;height: 0;"></a>
                                <div class="items hide" data-noinit="true" id="liu">
                                    <ul class="menu-items" data-faicon="fa fa-cog" data-tit="网站设置">
                                        <li><a href="__ROOT__/admin/system/index" data-toggle="navtab" data-options="{ id:'system-index', faicon:'caret-right'}" data-fresh="true">基本设置</a></li>
                                        <li><a href="__ROOT__/admin/system/navigation" data-toggle="navtab" data-options="{ id:'system-navigation', faicon:'caret-right'}" data-fresh="true">导航设置</a></li>                                       
                                    </ul>
                                    <ul class="menu-items" data-faicon="fa fa-cog" data-tit="轮播设置">
                                        <li><a href="__ROOT__/admin/ads/index/tid/1" data-toggle="navtab" data-options="{ id:'ads-index1', faicon:'caret-right'}" data-fresh="true">首页轮播</a></li>  
                                    </ul>                                    
                                    <ul class="menu-items" data-faicon="fa fa-cog" data-tit="内容管理">
                                        <li><a href="__ROOT__/admin/content/index" data-toggle="navtab" data-options="{ id:'content-index', faicon:'caret-right'}" data-fresh="true">文章管理</a></li>
                                        <li><a href="__ROOT__/admin/content/explore" data-toggle="navtab" data-options="{ id:'content-explore', faicon:'caret-right'}" data-fresh="true">探索世界</a></li> 
                                        <li><a href="__ROOT__/admin/content/order" data-toggle="navtab" data-options="{ id:'content-order', faicon:'caret-right'}" data-fresh="true">报名列表</a></li>                                                                                
                                    </ul>                                     
                                    <ul class="menu-items" data-faicon="fa fa-cog" data-tit="用户管理">
                                        <li><a href="__ROOT__/admin/member/index" data-toggle="navtab" data-options="{ id:'member-index', faicon:'caret-right'}" data-fresh="true">修改密码</a></li>
                                    </ul>                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn-default bjui-hnav-more-right" title="导航菜单右移"><i class="fa fa-angle-double-right"></i></button>
                </div>
            </header>
            <div id="bjui-container" class="clearfix" style="padding-bottom: 10px;">
                <div id="bjui-leftside">
                    <div id="bjui-sidebar-s">
                        <div class="collapse"></div>
                    </div>
                    <div id="bjui-sidebar" style="overflow-y: auto;overflow-x: hidden;">
                        <div class="toggleCollapse">
                            <h2><i class="fa fa-bars"></i> 导航栏 <i class="fa fa-bars"></i></h2><a href="javascript:;" class="lock"><i class="fa fa-lock"></i></a></div>
                        <div class="panel-group panel-main" data-toggle="accordion" id="bjui-accordionmenu">
                        </div>
                    </div>
                </div>
                <div id="bjui-navtab" class="tabsPage">
                    <div class="tabsPageHeader">
                        <div class="tabsPageHeaderContent" style="margin:0">
                            <span class="fa fa-home" style="font-size:13px;float:left;height:37px;line-height:37px;padding-left:10px;padding-right:20px;background: #fff;z-index: 30;">&nbsp;当前位置：<a href="/duanzu/admin.php/">首页</a> >> <span id="locations">我的主页</span></span>
                            <ul class="navtab-tab nav nav-tabs" style="position: relative;margin-left:235px;min-width:1000%; border-bottom: none;">
                                <li data-tabid="main" class="main active"><a href="javascript:;"><span>#maintab#</span></a></li>
                            </ul>
                        </div>
                        <div class="tabsLeft" style="height:38px;width:30px;position: absolute;left: 196px;z-index: 1025;"><i class="fa fa-angle-double-left" style="margin-top: 9px;"></i></div>
                        <div class="tabsRight" style="height:38px;position: absolute;right: -2px;"><i class="fa fa-angle-double-right" style="margin-top: 9px;"></i></div>
                    </div>
                    <ul class="tabsMoreList">
                        <li><a href="javascript:;">#maintab#</a></li>
                    </ul>
                    <div class="navtab-panel tabsPageContent">
                        <div class="navtabPage unitBox">
                            <!--暂时先用系统设置当主页-->
<script type="text/javascript">
    function pic_upload_success(file, data) {
        var json = $.parseJSON(data)
        if (data.statusCode == 200)
            $(this).alertmsg('ok', data.message)
        if (data.statusCode == 300)
            $(this).alertmsg('error', data.message)
        $(this).bjuiajax('ajaxDone', json)
        if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
            $.CurrentNavtab.find('#j_custom_thumb').val(json.src).trigger('validate')
            $.CurrentNavtab.find('#j_custom_pic').html('<img src=__ROOT__/' + json.src + ' width="100" />')
        }
    }
</script>
<style type="text/css">
    label.control-label{
        width: 100px;
    }
</style>
<form action="__ROOT__/admin/system/index" method="post" id="j_custom_form" data-toggle="ajaxform" data-alertmsg="false">
    <div class="bjui-pageContent">
        <table class="table-bordered  table-condensed table-hover" width="100%">
            <tbody>
                <tr>
                    <td colspan="2">
                        <label class="control-label x85" >
                            网站LOGO：
                        </label>
                        <div style="display: inline-block; vertical-align: middle;">
                            <span id="j_custom_logo">
                                {if $web['thumb']}
                                <img src="__ROOT__/{$web['thumb']}" alt="" style="max-width: 300px;"/>
                                {/if}
                            </span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <label for="j_custom_webname" class="control-label x85" title="title 针对搜索引擎设置的网页标题" >
                            网站标题：
                        </label>
                        <input type="text" name="webname" id="j_custom_title" value="{$web.webname}" data-rule="required" size="80">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label for="j_custom_keywords" class="control-label x85" title="meta keywords 针对搜索引擎设置的关键词" >
                            网页关键词：
                        </label>
                        <input type="text" name="keywords" id="j_custom_keywords" value="{$web.keywords}" data-rule="required" size="80">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label for="j_custom_note" class="control-label x85" title="meta description 针对搜索引擎设置的网页描述" >
                            网页描述：
                        </label>
                        <textarea name="description" id="j_custom_note" data-toggle="autoheight" cols="80" rows="1">{$web.description}</textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label for="j_custom_copyright" class="control-label x85" >
                            网站版权：
                        </label>
                        <input type="text" name="copyright" id="j_custom_keywords" value="{$web.copyright}" data-rule="required" size="80">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label for="j_custom_address" class="control-label x85" >
                            网站地址：
                        </label>
                        <input type="text" name="address" id="j_custom_address" value="{$web.address}" data-rule="required" size="80">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label for="j_custom_copyright" class="control-label x85" >
                            备案号：
                        </label>
                        <input type="text" name="icp" id="j_custom_keywords" value="{$web.icp}" data-rule="required" size="80">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label for="bottom_phone" class="control-label x85" >
                            网站底部电话：
                        </label>
                        <input type="text" name="webphone" id="bottom_phone" value="{$web.webphone}"  size="80">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</form>
<!--暂时先用系统设置当主页-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="bjui-footer" style="height: 30px;line-height: 30px; margin-top: 2px;">Copyright &copy; 2012 - 2018　技术支持：<a href="http://www.hersface.com/" target="_blank">hersface</a>
        </footer>
    </body>
</html>
