<!DOCTYPE html>
<html>
{include file="public/header" /}
<body>
 {include file="public/nav" /}
    <div class="blank15"></div>
    <div class="news w1190">
        <img src="__STATIC__/home/img/lexue.jpg" class="w1190 cont"alt="">
        <h3 class="post-title" id="title">
            {$info['title']}
        </h3>
        <div class="post-content">
            {$info['content']}
        </div>
    </div>
    <!--页脚-->
    <div class="blank15"></div>
{include file="public/footer" /}
</body>
</html>
