<!--页脚-->
<div class="blank15"></div>
<div class="footer">
    <div class=" cont fbj">
        <div class="f3">
            <p class="f33"><span>授之以渔教育 总部<span> 电话：(+86)0451-87111188</span><span>京ICP备14018222号-1</span<span><a href="/home/page/index/display/about" target="_blank">【关于我们】</a></span> </p>
            <p class="f44">哈尔滨市南岗区马家街27号省直机关物业管理中心5楼</p>
            <p>Copyright © 2015 All Rights Reserved</p>
        </div>
    </div>
</div>
<script src="__STATIC__/home/script/common.js"></script>