<div id="headr">
    <div class="logo">
        <div class="w1190 cont">
            <span class="fl">
                <img src="__ROOT__/{$web['thumb']}" />
            </span>
            <span class="logo-intro">用<span class="qd">英语密码</span>，开启世界探索之旅</span>
            <div class="zs">
                <div class="L" id="direct_call_a">
                    <span style="color:black; font-weight: 500;">招商热线：</span>0451-87111188
                    <br>
                    <span style="color:black;  font-weight: 500;">报名热线：</span>0451-84333555
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="w1190 cont">
            <ul>
                {volist name="nav" id="vo"}
                <li><a href="{$vo['url']}" title="{$vo['title']}" {if $vo['target']==1}target="_blank"{/if}>{$vo['title']}</a>
                {/volist}
            </ul>
        </div>
        <div class="nf"></div>
    </div>
</div>