<div id="headr">
    <div class="logo">
        <div class="w1190 cont">
            <span class="fl">
                <img src="__ROOT__/{$web['thumb']}" />
            </span>
            <span class="logo-intro">用<span class="qd">英语密码</span>，开启世界探索之旅</span>
            <div class="zs">
                <div class="L" id="direct_call_a">
                    <span style="color:black; font-weight: 500;">招商热线：</span>0451-87111188
                    <br>
                    <span style="color:black;  font-weight: 500;">报名热线：</span>0451-84333555
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="w1190 cont">
            <ul>
                <li><a href="__ROOT__/" title="首页" id="index">首页</a>
                </li>
                <li><a href="__ROOT__/home/page/index/display/linian" title="课程理念" id="linian">课程体系</a>
                </li>
                <li><a href="__ROOT__/home/content/index/cate/1" title="新闻动态" id="news">新闻动态</a>
                </li>
                <li><a href="__ROOT__/home/content/index/cate/2" title="乐学课堂" id="ketang">乐学课堂</a>
                </li>
                <li><a href="__ROOT__/home/content/explore" title="探索世界" id="explore">探索世界</a>
                </li>
                <li><a href="__ROOT__/home/page/index/display/xiaoqu" id="xiaoqu">校区</a></li>
                </li>
                <li><a href="__ROOT__/home/page/index/display/zhaoshang" title="课程植入" id="zhaoshang">课程植入</a></li>
                <li><a href="__ROOT__/home/page/index/display/about" id="about">关于我们</a></li>
            </ul>
        </div>
        <div class="nf"></div>
    </div>
</div>